*, label {
    font-family: Verdana, Arial, Helvetica, clean, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(0,102,204);
}


h1, h2, h3, h4, h5 {
    text-align:left;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: rgb(0,102,204);
}

h1 {
    font-size: 30px;
}

ul.bulleted > li {
    list-style: circle inside !important;
    line-height: 1.5em;
}

ul.bulleted > li > ul.bulleted {
    margin-left: 1em;
}

.pop {
    position:absolute; z-index:10; visibility:hidden; 
    left:50px;
    border: 1px solid rgb(153,153,153);
    min-width: 100px;
    min-height: 40px;
    background-color: white;
    padding: 10px;
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #AAA;
}
.pop h3 {
    font-size: 16px;
    border-bottom: 1px solid rgb(153,153,153);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.pop>ul {
    position: relative !important;
}

.pop>ul>li {
    margin: 0px !important;
    padding: 0px !important;
    line-height: 15px !important;
}
.pop>ul>li>ul {
    position: relative !important;
    margin-left: 10px;
}

.pop>ul>li>ul>li {
    margin: 0px !important;
    padding: 0px !important;
    list-style: circle inside !important;
}

.popper>li>div>h3>*:lang(syc) {
    font-size: 30px !important;
    line-height: 16px;
}
.popper>li>label:hover~div, .popper>li>ol>li>a:hover~div, .popper>li>ol>li>label:hover~div {
    visibility:visible;
} 

.pop *:lang(syc) {
    font-size: 150% !important;
}

.popfoot {
    margin-top: 15px;
    border-top: 1px solid rgb(153,153,153);
    padding-top: 10px;
    position: relative;
}

.popfoot>img {
    float: left;
}

body {
    background-color: beige;
}

    #outercontainer {
        max-width: 1024px;
        min-height:800px;
        margin: auto;
    }
    
        #innercontainer {
        }
    
            #header {
                height: 60px;
            }
            
                #branding {
                    height: 60px;
                    min-width: 50%;
                    float:left; 
                }

                    #branding>h1 {
                        margin-top: 12px;
                    }
                
                    #branding>img {
                        float: left;
                        padding: 10px;
                    }
                
                #search {
                    float: right;
                    min-width: 25%;
                    margin-top: 20px;
                }
                
                #semweb {
                    height: 60px;
                    float: right;
                    width: 80px;
                }
            
            #mainbody {
                clear: both;
            }
            
                #nascar {
                    min-height: 600px;
                    float: right;
                    width: 80px;
                }
                
                #nascar>h2 {
                }
                
                #content {
                                            border-top-left-radius: 7px 7px;
                            border-top-right-radius: 7px 7px;

                         border-bottom-left-radius: 7px 7px;
                        border-bottom-right-radius: 7px 7px;
                        box-shadow: 3px 3px 3px #AAA;
                        width: 942px;  
                }
                
                    #mainnav {
                        width: 942px;
                        height: 32px;
                        border-bottom: 1px solid rgb(153,153,153);
                    }
                    
                        #mainnav>ul>li {
                            border-top-left-radius: 7px 7px;
                            border-top-right-radius: 7px 7px;
                            float: left;
                            width: 155px;
                            height: 17px;
                            padding: 7px 0;
                            border: 1px solid rgb(153,153,153);
                            background-color: rgb(204,204,204);
                            font-family: "HelveticaNeue-Condensed", "Helvetica Neue", sans-serif;
                            font-size: 15px;
                            opacity: .5;
                        }
                        
                        #mainnav>ul>li.selected, #mainnav>ul>li.selected:hover {
                            background-color: white;
                            opacity: 1;
                            border-bottom: 1px solid white;
                            color: black;
                        }
                        
                        #mainnav>ul>li:hover {
                            color: rgb(0,102,204);
                            opacity: 1;
                            background-color: rgb(240,240,240);
                        }
                        
                    #subnav {
                        background-color: white;
                        border: 1px solid rgb(153,153,153);
                        border-top: none;
                        border-bottom: none;         
                        text-align: left;
                        padding: 1em;
                    }
                    #activetab {
                        background-color: white;
                        border: 1px solid rgb(153,153,153);
                        border-top: none;
                        min-height: 500px;
                        width: 940px;
                        border-bottom-left-radius: 7px 7px;
                        border-bottom-right-radius: 7px 7px;
                    }
                    
                        #tabcontent {
                            text-align: left;
                        }
                        
                        #tabcontent > div {
                            padding: 1em 3em;
                        }
                        
                            #tabcontent > div > h2 {
                                font-size: 22px;
                            }
                        
                        #tabcontent > div h3 {
                            font-size: 18px;
                        }
                        
                        #tabcontent > div *:lang(syc) {
                            font-size: 150%;
                        }
                        #tabcontent > div *:lang(ara) {
                            font-size: 150%;
                        }
                        #tabcontent > div h4 {
                            color: black;
                        }
                        
            
            #footer {
                background-color: orange;
            }